.news {
    max-width: 100%;
    background-color: @color-f2f2f2;
    &-main {
      .container;
      margin: auto;
      display: block;
      &__title {
        display: block;
        position: relative;
        padding: 41px 15px 0 15px;
        &__hots {
          text-align: center;
          h2 {
            font-size: 90px;
            line-height: 182px;
            color: @color-ebebeb;
            font-family: 'Poppins-SemiBold';
            text-align: center;
            text-transform: uppercase;
          }
        }
        &__last {
          text-align: center;
          padding-top: 40px;
          position: absolute;
          left: 50%;
          top: 50%;
          .transform(translate(-50%, -50%));
          word-spacing: 4px;
          h3 {
            font-size: 42px;
            color: @color-black;
            font-family: 'Poppins-SemiBold';
            text-align: center;
            text-transform: uppercase;
          }
        }
      }
      &__content {
        .display-flex();
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        &__box {
          display: inline-block;
          max-width: 360px;
          margin-bottom: 87px;
          padding: 0 15px;
          width: 33.333%;
          .content--img {
            width: 100%;
            margin-bottom: 15px;
            a {
              img {
                width: 100%;
              }
            }
          }
          .content--text {
            a {
              max-width: 310px;
              font-size: 16px;
              line-height: 24px;
              color: @color-black;
              font-weight: 600;
              word-spacing: 2px;
              letter-spacing: 0.1px;
              font-family: 'Poppins-SemiBold';
            }
            p {
              font-size: 12px;
              line-height: 40px;
              color: @color-353333;
              word-spacing: 2px;
              a {
                font-size: 12px;
                line-height: 40px;
                color: @color-0ca8c9;
              }
            }
          }
        }
      }
    }
}
.slick-dots {
  bottom: 30px;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.slick-next, .slick-prev {
  display: none;
}