.supplier {
    width: 100%;
    display: block;
    background-color: @color-white;
    margin: 62px 0 56px;
    &-main {
      .container;
      .display-flex();
      margin: auto;
      li {
        display: inline-block;
        width: 20%;
        text-align: center;
        &:nth-child(4) {
          img {
            padding-top: 4px;
          }
        }
        &:last-child {
          img {
            padding-top: 6px;
          }
        }
      }
    }
}